.App {
  text-align: center;
  background-image: url(./media/fondo.jpg);
  width: 100%;
  height: auto;
}
h1, h2 {
  color: white;
}

.contenedor-vega {
  background-color: #F2F2F0;
  margin: auto;
  width: 45%;
  border-radius: 25px;
}
label {
  font-size: 2em;
  color: white;
}
.FormGroup {
  
}
.App-header {
 
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
